################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/WindowsService/obj/Debug
/.vs/Simple/v15/Server/sqlite3
/CalculatorService/obj/Debug
/Client/obj/Debug
/Service/obj/Debug
